@model Hospital.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specializations)
        </dt>

        <dd>
            <ul>
                @foreach (var item in Model.Specializations)
                {
                    <li>@item.Name </li>
                }
            </ul>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patients)
        </dt>
        <dd>
            <ul>
                @foreach(var item in Model.Patients)
                {
                    <li>@item.Name </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
